* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

main {
  height: 100vh;
  padding: 25px;
  background-image: url("../assets/sea-7039471_1280.jpg");
  background-size: cover;
  background-position: center;
  z-index: -1;
}

#heading {
  background-image: linear-gradient(
    to bottom,
    rgba(180, 198, 212, 0.66),
    rgba(43, 72, 117, 0.75),
    rgb(186, 228, 243),
    rgb(6, 12, 79)
  );
  position: relative;
  text-align: left;
  height: 50px;
  font-size: 20px;
  box-shadow: 5px 5px 5px rgb(80, 81, 98);
  color: #1e4174c7;
  padding-left: 2rem;
  padding-right: 2rem;
}

body {
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.nav {
  display: flex;
  position: relative;
  top: 10;
  left: 60%;
  width: 100%;
  z-index: 10;
  font-weight: bold;
  font-size: 25px;
  margin-top: -50px;
  margin-bottom: 10px;
}

button {
  font-size: 18px;
  position: absolute;
  color: rgb(19, 19, 45);
  font-weight: 600;
  background-color: rgba(222, 231, 235, 0.082);
  border: none;
  margin-top: 10px;
}

button:hover {
  cursor: pointer;
  font-size: 20px;
  color: #05032b;
}

#weatherCard {
  display: flex;
  flex-wrap: wrap;
  transition: transform 0.3s ease;
}

.lat {
  margin: 10px 10px 10px 20px;
  padding: 0.25rem 0.25rem;
  text-align: center;
  width: 170px;
  height: 70px;
  box-shadow: 0 0 25px 4px black;
  background-color: rgb(173, 205, 219);
  border-radius: 16px;
  color: #fff;
  font-size: 20px;
  font-weight: bold;
}

.lon {
  margin: 10px 10px 10px 20px;
  padding: 0.25rem 0.25rem;
  text-align: center;
  width: 170px;
  height: 70px;
  box-shadow: 0 0 25px 4px black;
  background-color: rgb(173, 205, 219);
  border-radius: 16px;
  color: #fff;
  font-size: 20px;
  font-weight: bold;
}

.Min {
  margin: 10px 10px 10px 20px;
  padding: 0.25rem 0.25rem;
  text-align: center;
  width: 170px;
  height: 70px;
  box-shadow: 0 0 25px 4px black;
  background-color: rgb(173, 205, 219);
  border-radius: 16px;
  color: #fff;
  font-size: 20px;
  font-weight: bold;
}

.Max {
  margin: 10px 10px 10px 20px;
  padding: 0.25rem 0.25rem;
  text-align: center;
  width: 170px;
  height: 70px;
  box-shadow: 0 0 25px 4px black;
  background-color: rgb(173, 205, 219);
  border-radius: 16px;
  color: #fff;
  font-size: 20px;
  font-weight: bold;
}

.feels_like {
  margin: 10px 10px 10px 20px;
  padding: 0.25rem 0.25rem;
  text-align: center;
  width: 170px;
  height: 70px;
  box-shadow: 0 0 25px 4px black;
  background-color: rgb(173, 205, 219);
  border-radius: 16px;
  color: #fff;
  font-size: 20px;
  font-weight: bold;
}

.wind {
  margin: 10px 10px 10px 20px;
  padding: 0.25rem 0.25rem;
  text-align: center;
  width: 170px;
  height: 70px;
  box-shadow: 0 0 25px 4px black;
  background-color: rgb(173, 205, 219);
  border-radius: 16px;
  color: #fff;
  font-size: 20px;
  font-weight: bold;
}

.humidity {
  margin: 10px 10px 10px 20px;
  padding: 0.25rem 0.25rem;
  text-align: center;
  width: 170px;
  height: 70px;
  box-shadow: 0 0 25px 4px black;
  background-color: rgb(173, 205, 219);
  border-radius: 16px;
  color: #fff;
  font-size: 20px;
  font-weight: bold;
}

.visibility {
  margin: 10px 10px 10px 20px;
  padding: 0.25rem 0.25rem;
  text-align: center;
  width: 170px;
  height: 70px;
  box-shadow: 0 0 25px 4px black;
  background-color: rgb(173, 205, 219);
  border-radius: 16px;
  color: #fff;
  font-size: 20px;
  font-weight: bold;
}

.sunrise {
  margin: 10px 10px 10px 20px;
  padding: 0.25rem 0.25rem;
  text-align: center;
  width: 170px;
  height: 70px;
  box-shadow: 0 0 25px 4px black;
  background-color: rgb(173, 205, 219);
  border-radius: 16px;
  color: #fff;
  font-size: 20px;
  font-weight: bold;
}

.sunset {
  margin: 10px 10px 10px 20px;
  padding: 0.25rem 0.25rem;
  text-align: center;
  width: 170px;
  height: 70px;
  box-shadow: 0 0 25px 4px black;
  background-color: rgb(173, 205, 219);
  border-radius: 16px;
  color: #fff;
  font-size: 20px;
  font-weight: bold;
}

.search-box {
  width: 100%;
  margin: 0 0 20px;
}

.search-box .search-bar {
  display: block;
  width: 100%;
  padding: 20px;
  outline: none;
  background-color: rgba(255, 255, 255, 0.468);
  border-radius: 0px 0px 20px 20px;
  margin-top: -20px;
  /* box-shadow: 0px 5px rgba(0, 0, 0, 0.2); */
  color: #313131;
  font-size: 20px;
  /* transition: 0.4s ease; */
}

.search-box .search-bar:focus {
  background-color: rgba(255, 255, 255, 0.256);
}

.location-box .location {
  color: #fff;
  font-size: 32px;
  font-weight: 400;
  text-align: center;
  text-shadow: 3px 3px rgba(53, 53, 144, 0.5);
}

.location-box .date {
  color: #fff;
  text-align: center;
  font-size: 20px;
  font-weight: 100;
  font-style: italic;
  text-shadow: 2px 2px rgba(53, 53, 122, 0.5);
}

.weather-box {
  text-align: center;
}

.weather-box .temp {
  position: relative;
  display: inline-block;
  margin: 5px;
  border-radius: 20px;
  padding: 10px 15px;
  color: #fff;
  font-size: 80px;
  font-weight: 900;
  text-shadow: 3px 6px rgba(50, 50, 70, 0.5);
  text-align: center;
  box-shadow: 3px 6px rgba(0, 0, 0, 0.2);
}

.weather-box .temp:hover {
  transition: ease;
  transform: scale(1.1);
}

.weather-box .weather {
  color: #fff;
  text-shadow: 3px 3px rgba(30, 30, 33, 0.5);
  font-size: 30px;
  font-weight: 900;
}

.major-cities {
  background-image: linear-gradient(
    to bottom,
    rgba(180, 198, 212, 0.66),
    rgba(43, 72, 117, 0.75),
    rgb(218, 207, 207),
    rgb(6, 12, 79)
  );

  height: 80vh;
  width: 100vw;
  display: flex;
  flex-direction: row;
  margin: 1rem 1rem 2rem 0;
  padding: 1.5rem;

  box-shadow: 15px 15px 15px 20px rgb(207, 216, 236);
  transition: transform 0.4s ease;

  background-color: rgb(173, 205, 219);
  margin-left: auto;
}

.city-weather {
  color: #3c4f80;
  font-size: 20px;
  font-weight: 700;
  margin: 2rem 2rem 2rem 0;
  height: 200px;
  padding: 1.5rem;
  width: 250px;
  box-shadow: 0 10px 25px 4px black;
  border-radius: 25px;
  cursor: pointer;
  background-color: rgba(219, 225, 226, 0.541);
}

.Forcast-container {
  display: flex;
  flex-direction: row;
  background-color: #3c4f80;
  gap: 20px;
  padding: 10px;
}

.forecast-day {
  background-image: linear-gradient(
    to bottom,
    rgba(201, 214, 224, 0.66),
    rgba(187, 202, 223, 0.75),
    rgb(186, 228, 243),
    rgb(46, 48, 69)
  );
  color: #071934c7;
  font-weight: 700;
  padding: 10px;
  border-radius: 5px;
  text-decoration-line: underline, 15px;
}
